<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div id="sidebar" class="sidebar">
      <div class="inner">
        <header>
          {% include header.html %}
        </header>
      </div>
    </div>

    {{ content}}
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
